/*************************************
GENERAL
*************************************/
body {
	margin: 0;
	padding: 0;
	font: 12px/1.4em "Lucida Grande", Verdana, sans-serif;
	color: #333;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	background-color: #d5e9ed;
}

h2 {
	font-size: 1.3em;
	line-height: 1.5em;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0;
	border-bottom: 3px solid #eee;

	/* icon setup */
	padding: 0.2em 1em 0.2em 30px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}


/*************************************
SECTIONS
*************************************/
div#content {
	margin: 30px auto;
	padding: 0 30px 15px 30px;
	background-color: #fff;
	width: 940px;
	
	/* box-shadow */
	-moz-box-shadow: 0 5px 10px #aaa;
	-webkit-box-shadow: 0 5px 10px #aaa;
	box-shadow: 0 5px 10px #aaa;

	/* top corners */
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;

	/* bottom corners */
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

/*div#content div.section {}*/



/*************************************
CONTAINERS
*************************************/
.container {
	zoom: 2;
	display: table;		
	margin: 10px auto;
	
}

.row  {
    display: table-row;     
   
    }

 .left, .right, .middle {
    display: table-cell;
    }
 .left
 {
 	width: 50px;
 }
 .middle
 {
 	text-align: center;
 	
 }


/*************************************
GRIDS
*************************************/
.grid { float: left; margin-right: 20px; }
.gridlast { margin-right: 0; }
.grid5 { width: 300px; }
.grid15 { width: 940px; }
